@import com.github.stonexx.scala.data.{Page, Ordering}
@import models.Computer.forms.Sorts

@(currentPage: Page[(Computer, Option[Company])], currentFilter: String, currentSort: Sorts.Ordered)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@import request.flash

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newSortValue: Option[Sorts.Value] = None) = @{
  routes.Application.list(newPage, currentFilter, newSortValue.map { sortValue =>
    if (currentSort.has(sortValue, Ordering.Asc))
      currentSort.reverse(sortValue)
    else if (currentSort.has(sortValue, Ordering.Desc))
      currentSort - sortValue
    else
      currentSort + sortValue - Sorts.Id
  }.orElse(Some(currentSort)))
}

@**********************************
* Helper generating table headers *
***********************************@
@header(sortValue: Sorts.Value, title: String) = {
  <th class="col@sortValue.id header @if(currentSort.has(sortValue)){@{if(currentSort.isAsc(sortValue)) "headerSortUp" else "headerSortDown"}}">
    <a href="@link(1, Some(sortValue))">@title</a>
  </th>
}

@main {

  <h1>@Messages("computers.list.title", currentPage.total)</h1>

  @flash.get("success").map { message =>
    <div class="alert-message warning">
      <strong>Done!</strong> @message
    </div>
  }

  <div id="actions">

    @helper.form(action = routes.Application.list()) {
      <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by computer name...">
      <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
    }

    <a class="btn success" id="add" href="@routes.Application.create()">Add a new computer</a>

  </div>

  @Option(currentPage.items).filterNot(_.isEmpty).map { computers =>

    <table class="computers zebra-striped">
      <thead>
        <tr>
          @header(Sorts.Name, "Computer name")
          @header(Sorts.Introduced, "Introduced")
          @header(Sorts.Discontinued, "Discontinued")
          @header(Sorts.Company, "Company")
        </tr>
      </thead>
      <tbody>

      @computers.map {
        case (computer, company) => {
          <tr>
            <td><a href="@routes.Application.edit(computer.id.get)">@computer.name</a></td>
            <td>
              @computer.introduced.map(_.format("dd MMM yyyy")).getOrElse {<em>-</em>}
            </td>
            <td>
              @computer.discontinued.map(_.format("dd MMM yyyy")).getOrElse {<em>-</em>}
            </td>
            <td>
              @company.map(_.name)
            </td>
          </tr>
        }
      }

      </tbody>
    </table>

    <div id="pagination" class="pagination">
      <ul>
        @currentPage.prev.map { page =>
          <li class="prev">
            <a href="@link(page)">&larr; Previous</a>
          </li>
        }.getOrElse {
          <li class="prev disabled">
            <a>&larr; Previous</a>
          </li>
        }
        <li class="current">
          <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + computers.size) of @currentPage.total</a>
        </li>
        @currentPage.next.map { page =>
          <li class="next">
            <a href="@link(page)">Next &rarr;</a>
          </li>
        }.getOrElse {
          <li class="next disabled">
            <a>Next &rarr;</a>
          </li>
        }
      </ul>
    </div>

  }.getOrElse {

    <div class="well">
      <em>Nothing to display</em>
    </div>

  }

}
