@(tasks: Seq[Task], taskForm: Form[String])(implicit messages: Messages)

@head = {
    <script type="text/javascript" src="@routes.Tasks.jsRoutes()"></script>
}

@layouts.default(Some("Todo list"))(head) {

    <h1>@tasks.size task(s)</h1>

    <ul class="list-group">
    @tasks.map { task =>
        <li class="list-group-item">
            @task.label
            @task.id.map { id =>
                <a href="@routes.Tasks.delete(id)" class="badge">X</a>
            }
        </li>
    }
    </ul>

    <h2>Add a new task</h2>

    @helper.form(routes.Tasks.create()) {
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                @helper.inputText(taskForm("label"), 'class -> "form-control")
                </div>
            </div>
        </div>
        <span class="btn-group">
            <button type="submit" class="btn btn-default">Create</button>
        </span>
    }

}
